PORT=3003

# ==========================================
# 1. Local Development Environment
# ==========================================
# REACT_APP_API_URL=http://localhost:3002/api/v1
# REACT_APP_SOCKET_URL=ws://localhost:3002

# ==========================================
# 2. Live Production Environment
# ==========================================
# REACT_APP_API_URL=https://api.prabhupooja.com/api/v1
# REACT_APP_SOCKET_URL=https://api.prabhupooja.com
