.customer-container {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-container .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.customer-container .search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.customer-container .search-container input:focus {
  outline: orange;
}

.customer-container .search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.customer-container .search-bar {
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 300px;
  width: 100%;
}

.customer-container .buttons-group {
  display: flex;
  align-items: centers;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.customer-container .filter-btn,
.customer-container .download-btn,
.customer-container .date-range {
  background-color: #f3efef;
  color: #555;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.customer-container .customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-container .customer-table img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid orange;
  margin: 0;
  object-fit: cover;

  padding: 0;
}

.customer-container .customer-table th,
.customer-container .customer-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.customer-container .customer-table td .profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.customer-container .paid {
  background: lightgreen;
  color: green;
  padding: 5px;
  border-radius: 4px;
}

.customer-container .unpaid {
  background: #ffcccb;
  color: red;
  padding: 5px;
  border-radius: 4px;
}

.customer-container .upi {
  background: lightblue;
  color: blue;
  padding: 5px;
  border-radius: 4px;
}

.customer-container .cod {
  background: rgb(233, 190, 165);
  color: rgb(230, 82, 14);
  padding: 5px;
  border-radius: 4px;
}

.customer-container .status.cancelled {
  background: #f8d7da;
  color: darkred;
  padding: 5px;
  border-radius: 4px;
}

.customer-container .pagination {
  display: flex;
  justify-content: end;
}

.customer-container .page-btn {
  color: rgb(12, 12, 12);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.customer-container .page-number {
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.customer-container .page-number.active {
  border-color: rgb(210, 140, 9);
  color: rgb(176, 117, 7);
  font-weight: bold;
}

.customer-container .tabeFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.customer-container .custom-select {
  padding: 5px;
  border: 2px solid rgb(176, 117, 7);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
}

.customer-container .custom-select option {
  background-color: white;
  color: black;
}

.customer-container .filter-container, .date-container {
  position: relative;
   display: inline-block;
}


.customer-container .filter-btn, .date-range {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f3efef;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.customer-container .filter-popup, .calendar-popup {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.customer-container .filter-popup {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}
.customer-container .filter-popup label{
  padding: 4px;
  cursor: pointer;
  color: #555;
}
.customer-container .filter-popup label:hover{
  color: orange;
}



@media (max-width:850px) {
  .customer-container .top-bar{
    flex-wrap: wrap;
    gap: 10px;
    
  }
  .BoxContainerLeftList .card{
    width: 100%;
    flex-wrap: wrap;
  }
}
